@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-weight: lighter;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
.small-title{
    font-size: 1rem;
}
.small-subtitle{
    font-size: 0.85rem;
}

.text{
    font-family: 'Hammersmith One', sans-serif;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}

.title{
    text-align: center;
    color: #1E3D59;
}

section{
    width: 100vw;
}
.page-1, .page-2, .page-3{
    height: 100vh;
}
.page-4, .page-5{
    height: fit-content;
}
.page-1{
    background-color: #FFC13B;
}
.page-2{
    background-color: #F5F0E1;
}
.page-3{
    background-color: #F4C45D;
}
.page-4{
    background-color: #FFF1E1;
}
.page-5{
    background-color: #E8CF4F;
}
